<h1>Listing replies</h1>

<table>
  <tr>
    <th>Content</th>
   
  </tr>

<% for reply in @replies %>
  <tr>
    <td><%=h reply.content %></td>
   
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reply', new_reply_path %>